<!-- <form >
    <div class="form-group">
  <mat-card class="card">
    <button mat-button disabled class="example-spacer">Edit</button> <br>
  <mat-form-field appearance="outline"  aria-readonly="true">  
    <mat-label class="bg">ID</mat-label>
    <input matInput required class="form-Control" readonly>
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <mat-label class="bg">Name</mat-label>
    <input matInput required class="form-Control">
  </mat-form-field> <br>
  <mat-form-field appearance="outline">
    <mat-label class="bg">Conact Number</mat-label>
    <input matInput required class="form-Control">
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <mat-label class="bg">FirmName</mat-label>
    <input matInput required class="form-Control">
  </mat-form-field> <br>
  <mat-form-field appearance="outline">
    <mat-label class="bg">Address</mat-label>
    <input matInput required class="form-Control">
  </mat-form-field> <br>
  <mat-form-field appearance="outline">
    <mat-label class="bg">Tin No</mat-label>
    <input matInput required class="form-Control">
  </mat-form-field> <br>
  <mat-form-field appearance="outline">
    <mat-label class="bg">Pan No</mat-label>
    <input matInput required class="form-Control">
  </mat-form-field> <br>
  <mat-form-field appearance="outline">
    <mat-label class="bg">Bank IFSC Code</mat-label>
    <input matInput required class="form-Control">
  </mat-form-field> <br>
  <mat-form-field appearance="outline">
    <mat-label class="bg">Bank Account Number</mat-label>
    <input matInput required class="form-Control">
  </mat-form-field> <br>
  </mat-card>  
</div>
</form> -->
<div class="row">
  <div class="col-lg-32">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
          class="rounded-circle img-fluid" style="width: 200px;">
        <h5 class="my-3">John Smith</h5>
  </div>
</div>
<div class="col-lg-32">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">ID</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">1</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Full Name</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">Johnatan Smith</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">example@example.com</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Phone</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">(097) 234-5678</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Mobile</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">(098) 765-4321</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Address</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
        </div>
      </div>
    </div>
  </div>